{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "PharmaGo": "Information"
    }
  },
  "AllowedHosts": "*",
  "Supabase": {
    "Url": "https://wglrryhnrqninxzrmowh.supabase.co",
    "Key": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnbHJyeWhucnFuaW54enJtb3doIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NjgzNDAsImV4cCI6MjA4MTM0NDM0MH0.VjFH2_soXmCTg73QRPzGvgUEA20Yd0_hfhzu705lyDU"
  }
}
